body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#game-container {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #4ebe4e; /* Background color: light green */
  justify-content: center;
  align-items: center;
  position: relative;
}

#game-intro {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#endgame-screen {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #000000;
}

#endgame-screen h2 {
  margin-top: 0;
}

#endgame-screen button {
  margin-top: 20px;
}

/* 
#mouse {
  width: 50px;
  height: 50px;
  background-color: brown; /* Mouse color: brown 
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
} */

#cheese {
  width: 80px;
  height: 80px;
  background-image: url("/images/cheese.png");
  background-size: cover;
  position: absolute;
}

#timer {
  position: absolute;
  top: 40px;
  left: 20px;
}
#score {
  position: absolute;
  top: 20px;
  left: 20px;
}

#mouse {
  width: 100px;
  height: 100px;
  background-image: url("/images/jerry-runnig.png");
  background-size: cover;
  position: absolute;

  top: 0;
  left: 0;
}

.obstacle {
  position: absolute;
  width: 80px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  background-image: url("/images/mouse-trap_2_29.png"); /* Replace with your obstacle image */
  background-size: cover; /* Ensure the image covers the element */
}

.running {
  animation: run-animation 0.5s steps(8) infinite; /* Adjust timing and number of steps */
}

@keyframes run-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100px 0;
  }
}
/* .running {
  animation: run-animation 0.5s steps(4) infinite; /* Adjust animation duration and steps 
}

@keyframes run-animation {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 150px;
  } /* Adjust according to sprite sheet width 
}*/

/* .running {
  animation: runInAllDirections 2s ease-in-out infinite;
}

@keyframes runForwardAndBack {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, 0);
  }
  50% {
    transform: translate(0, 50px);
  }
  75% {
    transform: translate(-50px, 0);
  }
} */
